.infoContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 15px;
  box-shadow: 1px 1px 3px rgb(108, 108, 108);
  gap: 10px;
}
.infoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .infoTitle_right {
    display: flex;
    align-content: flex-end;
    gap: 5px;
    .infoTitle_right-count {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    button {
      font-size: 1.25rem;
      font-weight: 700;
      border: none;
      background-color: var(--primary-color);
      color: white;
      border-radius: 5px 5px 5px 0px;
    }
  }
}
.infoDes {
  display: flex;
  align-items: center;
  gap: 5px;
  a {
    color: var(--primary-color);
  }
  span {
    background-color: var(--primary-color);
    color: white;
    font-size: 0.75rem;
    padding: 5px;
  }
}
.infoFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; //整個都靠下
  .infoFooter_L {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 3px solid lightgray;
    padding: 15px;
    .infoFooter_L-top {
      b,
      p {
        font-size: 0.9rem;
      }
    }
    .infoFooter_L-bottom {
      h4 {
        color: var(--primary-color);
      }
      p {
        color: var(--primary-color);
      }
      span {
        color: red;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}
.infoFooter_R {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .infoFooter_R-top {
    font-size: 0.75rem;
  }
  .infoFooter_R-medium {
    display: flex;
    flex-direction: column;
    b {
      font-size: 1.5rem;
    }
    span {
      font-size: 0.75rem;
    }
  }
  .infoFooter_R-bottom {
    button {
      margin-top: 10px; //把查看客房跟上面做一下區分
      width: 200px;
      color: white;
      font-size: 18px;
      padding: 5px 10px;
      border: none;
      background-color: rgb(255, 142, 4);
      border-radius: 1px;
      cursor: pointer;
      &:hover {
        background-color: rgb(206, 114, 1);
      }
    }
  }
}
.active {
  background-color: rgba(53, 164, 127, 0.2);
  box-shadow: 0px 0px 15px var(--primary-color);
}
