.container {
  padding: 7px 0px 7px 0px;
}
.item {
  margin: 3px 10px;

  img {
    height: 30vh;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
  }
  p {
    font-size: 1rem;
  }
  span {
    color: darkgray;
    font-size: 0.75rem;
  }
}
.title {
  padding: 7px;
}
