.item {
  gap: 10px;
  img {
    height: 25vh;
    width: 90%;
    object-fit: cover;
    margin: 3px 10px;
    border-radius: 10px;
  }
  p,
  span {
    margin: 0px 10px;
  }
  p {
    font-size: 1rem;
  }
  span {
    color: darkgray;
    font-size: 0.75rem;
  }
}
.title {
  padding: 10px;
}
