.container {
  justify-content: center;
  align-items: center;
  .title {
    padding: 15px;
    span {
      font-size: 0.95rem;
    }
  }
  .item {
    display: flex;
    img {
      margin: auto;
      width: 90%;
      min-height: 20vh;
      max-height: 25vh;
      object-fit: cover;
      border-radius: 10px;
    }
    .itemInfo {
      display: grid;
      .itemTitle,
      .itemDesc {
        margin-left: 15px;
      }
      .itemTitle {
        font-size: 1rem;
        padding: 5px 0px 5px 0px;
      }
      .itemDesc {
        font-size: 0.75rem;
        color: silver;
      }
    }
  }
  .item:hover {
    box-shadow: 1px 2px 1px 4px;
  }
}
