.listContainer {
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.listLeft {
  display: block;
  width: 20%;
  margin: 15px;
  .listSearch {
    padding: 20px;
    position: sticky;
    top: 100px;
    left: 15px;
    border-radius: 15px;
    background-color: rgb(223, 130, 0);
    display: flex;
    flex-direction: column;
    gap: 10px;
    .listItem {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .selectorText,
      .searchInput,
      .highestPrice,
      .lowestPrice,
      .searchText {
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: #fff;
        border: none;
        height: 20px;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
      }
      .searchBtn{
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        background-color: var(--primary-color);
        color: #fff;
        padding: 10px 0px;
      }
    }
  }
}


.searchText {
  position: relative;
}
.conditionsContainer {
  position: absolute;
  left: 70px;
  top: 50%;
  .close {
    display: flex;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: goldenrod;
    color: aliceblue;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: none;
  }
}
.listRight {
  width: 80%;
  margin: 15px;
  .listResult {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .map{
      padding: 10px 15px;
      background-image: url("https://cf.bstatic.com/psb/capla/static/media/map-entry-point.6b01012a.png");
      .mapBtn{
        background-color: var(--primary-color);
        border: none;
        padding: 5px 10px;
        color: #fff;
      }
    }
  }
}
.selectorResult {
  font-size: 12px;
  padding: 0px 5px;
}
