// headerSearchBar===================
.headerSearchBar {
  position: absolute;
  bottom: -50px;
  height: 55px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  background-color: rgb(223, 130, 0);
  border: none;
  border-radius: 5px;
  //   margin: 10px 0px 10px 0px;
  //   gap: 10px;
  svg {
    color: lightgrey;
    font-size: 1rem;
    margin-left: 10px;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    text-overflow: ellipsis;
  }
  @for $i from 0 to 4 {
    .searchBarItem-#{$i} {
      display: flex;
      height: 50px;
      min-width: 30%;
      margin-left: 2px;
      align-items: center;
      gap: 10px;
      color: black;
      background-color: #fff;
      border-radius: 2px;
      cursor: pointer;
      span {
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .searchBarBtn {
    border: none;
    margin: 0px 2px 0px 2px;
    width: 20%;
    height: 50px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
}
@media screen and (max-width < 600px) {
  .headerSearchBar {
    position: static;
    flex-direction: column;
    height: auto;
    gap: 5px;
  }
  .SearchInput {
    width: 100%;
  }
  .searchBarItem {
    width: 100%;
  }
  @for $i from 0 to 4 {
    .searchBarItem-#{$i} {
      display: flex;
      width: auto;
      align-items: center;
      gap: 10px;
      color: black;
      background-color: #fff;
      border-radius: 2px;
      cursor: pointer;
      span {
        font-size: 0.75rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .searchBarBtn {
    min-width: 100%;
    border: 3px solid rgb(223, 130, 0);
    border-radius: 2px;
  }
}
// ==================================================

// calendar區塊(日期選取表單)===========================
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  .modalMask {
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    display: block;
  }
  .modalContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-self: center;
    justify-self: center;
  }
  .searchFooter {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    gap: 3px;

    .selectorText {
      padding: 5px;
      font-size: 0.8rem;
      color: darkslategrey;
    }
    .Finished {
      width: 100%;
      height: 50px;
      background-color: cornflowerblue;
      color: #fff;
      border: 0px;
    }
  }
}

// ==================================================

// condition區塊（人數房間選取表單）============================
.searchBarItem-3 {
  position: relative;
}
.conditionsContainer-homepage {
  position: absolute;
  top: 60px;
  width: auto;
  background-color: #fff;
  box-shadow: 0px 0px 15px lightgrey;
  border-radius: 5px;
  padding: 10px 40px;
  .close {
    display: flex;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(209, 31, 31);
    color: aliceblue;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 7px rgb(82, 82, 82);
  }
  .condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 60px;
  }
  .conditionCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    button {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      color: var(--primary-color);
      background-color: white;
      border: 1px solid var(--primary-color);
      cursor: pointer;
      &:hover {
        background-color: rgba(53, 164, 127, 0.1);
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
// ==================================================
