// headerSearchBar===================
.headerSearchBar {
  position: absolute;
  bottom: -50px;
  height: 55px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  background-color: rgb(223, 130, 0);
  border: none;
  border-radius: 5px;
  //   margin: 10px 0px 10px 0px;
  //   gap: 10px;
  svg {
    color: lightgrey;
    font-size: 1rem;
    margin-left: 10px;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    text-overflow: ellipsis;
  }
  .searchBarItem:first-child {
    width: calc(34% - 20px);
  }
  @for $i from 0 to 4 {
    .searchBarItem-#{$i} {
      display: flex;
      height: 50px;
      min-width: 30%;
      margin-left: 2px;
      align-items: center;
      gap: 10px;
      color: black;
      background-color: #fff;
      border-radius: 2px;
      cursor: pointer;
      span {
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .searchBarBtn {
    border: none;
    margin: 0px 2px 0px 2px;
    width: 20%;
    height: 50px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
}
// ==================================================

// calendar區塊(日期選取表單)===========================
.calendar {
  position: relative; //這邊一樣用絕對定位讓他超出container往下
  border: 1px lightgray solid;
  box-shadow: 0px 0px 15px lightgray;
}
/* The Modal (background) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  right: 0;
  z-index: 9;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// ==================================================

// condition區塊（人數房間選取表單）============================
.searchBarItem-3 {
  position: relative;
}
.conditionsContainer {
  position: absolute;
  top: 50px;
  left: 0;
  width: auto;
  background-color: #fff;
  box-shadow: 0px 0px 15px lightgrey;
  border-radius: 5px;
  padding: 10px 40px;
  .condition {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 60px;
  }
  .conditionCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    button {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      color: var(--primary-color);
      background-color: white;
      border: 1px solid var(--primary-color);
      cursor: pointer;
      &:hover {
        background-color: rgba(53, 164, 127, 0.1);
      }
      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
// ==================================================
