.headerSearchBar {
  position: absolute;
  bottom: -50px;
  height: 55px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  background-color: rgb(223, 130, 0);
  border: none;
  border-radius: 5px;
  //   margin: 10px 0px 10px 0px;
  //   gap: 10px;
  svg {
    color: lightgrey;
    font-size: 16px;
    margin-left: 10px;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
  }
  .searchBarItem:first-child {
    width: calc(34% - 20px);
  }
  .searchBarItem {
    display: flex;
    height: 50px;
    width: 320px;
    margin-left: 2px;
    align-items: center;
    gap: 10px;
    color: black;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    // .searchText {
    //   width: 100%;
    //   display: block;
    //   overflow: hidden;
    //   white-space: nowrap;
    //   text-overflow: ellipsis;
    // }
  }
  .searchBarBtn {
    border: none;
    margin: 0px 2px 0px 2px;
    width: 60px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
}
.calendar {
  position: absolute; //這邊一樣用絕對定位讓他超出container往下
  top: 56px;
  border: 1px lightgray solid;
  box-shadow: 0px 0px 15px lightgray;
}
